<h1>Password Reset Requested</h1>

<p>
	Hello <%= @user.first_name %>,
</p>
<p>
	A request has been sent for a password reset. If this was not from you, please ignore this and carry on :) 
	Otherwise, receive a new password by following this link: <%= @url %>
</p>
<p>
	Once you receive your new password, you may change it to any password you would like through the Toodles mobile app.
</p>
<p>
	Thank you and have a nice day
</p>
